<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [67]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [16]:
round(data[(data.sex == "Female")]["age"].describe()['mean'],2)

36.86

**3. What is the percentage of German citizens (*native-country* feature)?**

In [17]:
round(data[(data['native-country'] == "Germany")].shape[0]/data.shape[0] *100,2)

0.42

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [39]:
more50k = data[data['salary'] == '>50K']['age'].describe()
less50k = data[data['salary'] == '<=50K']['age'].describe()
(round(more50k['mean'],2),round(more50k['std'],2),round(less50k['mean'],2),round(less50k['std'],2))

(44.25, 10.52, 36.78, 14.02)

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [40]:
data[(data['salary'] == '>50K') & (data.education !='Bachelors') & (data.education !='Prof-school') & (data.education !='Assoc-acdm') & \
(data.education !='Assoc-voc') & (data.education !='Masters') & (data.education !='Doctorate')].shape[0] > 0

True

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [43]:
data.groupby(by=['race','sex']).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                                \
                             75%   max    count           mean            std
race               sex
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092   93207.974077
                   Male    45.00  82.0    192.0  125715.364583   85063.251595
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145   76401.627757
                   Male    46.00  90.0    693.0  166175.865801   88552.952600
Black              Female  46.00  90.0   1555.0  212971.387781  109971.263983
                   Male    46.00  90.0   1569.0  242920.644997  134145.970948
Other              Female  39.00  74.0    109.0  172519.642202   77766.666801
                   Male    42.00  77.0    162.0  213679.104938   92187.362738
White              Female  46.00  90.0   8642.0  183549.966906  101710.294874
                   Male    49.00  90.0  19174.0  188987.386148  103714.598850

                                                                               \
                               min        25%       50%        75%        max
race               sex
Amer-Indian-Eskimo Female  12285.0   31387.00   87950.0  163027.50   445168.0
                   Male    13769.0   48197.75  113091.0  182656.00   356015.0
Asian-Pac-Islander Female  19914.0   86879.25  131986.0  175705.75   379046.0
                   Male    14878.0   98350.00  147719.0  200117.00   506329.0
Black              Female  19752.0  142666.50  193553.0  253759.00   930948.0
                   Male    21856.0  156410.00  221196.0  298601.00  1268339.0
Other              Female  24562.0  119890.00  171199.0  219441.00   388741.0
                   Male    25610.0  150726.75  208516.5  253334.75   481175.0
White              Female  19395.0  115914.75  175810.5  224836.50  1484705.0
                   Male    18827.0  117381.00  178662.5  236858.75  1455435.0

                          education-num                                       \
                                  count       mean       std  min  25%   50%
race               sex
Amer-Indian-Eskimo Female         119.0   9.697479  2.334540  2.0  9.0  10.0
                   Male           192.0   9.072917  2.268587  2.0  9.0   9.0
Asian-Pac-Islander Female         346.0  10.390173  2.796647  1.0  9.0  10.0
                   Male           693.0  11.245310  2.777463  1.0  9.0  11.0
Black              Female        1555.0   9.549839  2.207815  1.0  9.0   9.0
                   Male          1569.0   9.423199  2.382841  1.0  9.0   9.0
Other              Female         109.0   8.899083  3.027482  2.0  7.0   9.0
                   Male           162.0   8.802469  3.361897  1.0  8.0   9.0
White              Female        8642.0  10.127980  2.368115  1.0  9.0  10.0
                   Male         19174.0  10.138521  2.656464  1.0  9.0  10.0

                                      capital-gain                             \
                            75%   max        count         mean           std
race               sex
Amer-Indian-Eskimo Female  11.0  16.0        119.0   544.605042   2451.591587
                   Male    10.0  16.0        192.0   675.260417   2929.745443
Asian-Pac-Islander Female  13.0  15.0        346.0   778.436416   7675.228631
                   Male    13.0  16.0        693.0  1827.813853  10947.525528
Black              Female  10.0  16.0       1555.0   516.593569   5312.749129
                   Male    10.0  16.0       1569.0   702.454430   4962.113183
Other              Female  10.0  14.0        109.0   254.669725   1317.326460
                   Male    10.0  16.0        162.0  1392.185185  11093.711595
White              Female  12.0  16.0       8642.0   573.610391   4763.131649
                   Male    13.0  16.0      19174.0  1368.674455   8442.830669

                                                       capital-loss  \
                           min  25%  50%  75%      max        count
race               sex
Amer-Indian-Eskimo Female  0.0  0.0  0.0  0.0  15024.0        119.0
                   Male    0.0  0.0  0.0  0.0  27828.0        192.0
Asian-Pac-Islander Female  0.0  0.0  0.0  0.0  99999.0        346.0
                   Male    0.0  0.0  0.0  0.0  99999.0        693.0
Black              Female  0.0  0.0  0.0  0.0  99999.0       1555.0
                   Male    0.0  0.0  0.0  0.0  99999.0       1569.0
Other              Female  0.0  0.0  0.0  0.0   7688.0        109.0
                   Male    0.0  0.0  0.0  0.0  99999.0        162.0
White              Female  0.0  0.0  0.0  0.0  99999.0       8642.0
                   Male    0.0  0.0  0.0  0.0  99999.0      19174.0

                                                                               \
                                 mean         std  min  25%  50%  75%     max
race               sex
Amer-Indian-Eskimo Female   14.462185  157.763811  0.0  0.0  0.0  0.0  1721.0
                   Male     46.395833  286.562584  0.0  0.0  0.0  0.0  1980.0
Asian-Pac-Islander Female   50.852601  296.529225  0.0  0.0  0.0  0.0  2258.0
                   Male    120.373737  472.917697  0.0  0.0  0.0  0.0  2457.0
Black              Female   45.450804  299.099591  0.0  0.0  0.0  0.0  4356.0
                   Male     75.186106  370.976546  0.0  0.0  0.0  0.0  2824.0
Other              Female   36.284404  231.796929  0.0  0.0  0.0  0.0  1740.0
                   Male     77.746914  370.986720  0.0  0.0  0.0  0.0  2179.0
White              Female   65.390535  352.330817  0.0  0.0  0.0  0.0  4356.0
                   Male    102.261343  434.156936  0.0  0.0  0.0  0.0  3770.0

                          hours-per-week                                   \
                                   count       mean        std  min   25%
race               sex
Amer-Indian-Eskimo Female          119.0  36.579832  11.046509  4.0  35.0
                   Male            192.0  42.197917  11.596280  3.0  40.0
Asian-Pac-Islander Female          346.0  37.439306  12.479459  1.0  35.0
                   Male            693.0  41.468975  12.387563  1.0  40.0
Black              Female         1555.0  36.834084   9.419960  2.0  35.0
                   Male           1569.0  39.997451  10.909413  1.0  40.0
Other              Female          109.0  35.926606  10.300761  6.0  30.0
                   Male            162.0  41.851852  11.084779  5.0  40.0
White              Female         8642.0  36.296691  12.190951  1.0  30.0
                   Male          19174.0  42.668822  12.194633  1.0  40.0


                            50%   75%   max
race               sex
Amer-Indian-Eskimo Female  40.0  40.0  84.0
                   Male    40.0  45.0  84.0
Asian-Pac-Islander Female  40.0  40.0  99.0
                   Male    40.0  45.0  99.0
Black              Female  40.0  40.0  99.0
                   Male    40.0  40.0  99.0
Other              Female  40.0  40.0  65.0
                   Male    40.0  40.0  98.0
White              Female  40.0  40.0  99.0
                   Male    40.0  50.0  99.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [47]:
more50k = data[data['salary'] == '>50K']
married = more50k[more50k['marital-status'].str.contains('Married')]
(married.shape[0]/more50k.shape[0],(more50k.shape[0]-married.shape[0])/more50k.shape[0])

(0.859074097691621, 0.14092590230837904)

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [51]:
# max_hours = data['hours-per-week'].describe()['max']
people =data[data['hours-per-week'] == max_hours]
peopke_more50k = people[people['salary'] == '>50K']
(max_hours,people.shape[0], round(peopke_more50k.shape[0]/people.shape[0] *100,2))

(99.0, 85, 29.41)

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [66]:
data[data['salary'] == '>50K'][['native-country','hours-per-week']].groupby(by=['native-country']).describe()

                   hours-per-week                                           \
                            count       mean        std   min    25%   50%
native-country
?                           146.0  45.547945  10.202827   8.0  40.00  40.0
Cambodia                      7.0  40.000000   0.000000  40.0  40.00  40.0
Canada                       39.0  45.641026  12.066673  20.0  40.00  45.0
China                        20.0  38.900000  10.125008  10.0  38.00  40.0
Columbia                      2.0  50.000000   0.000000  50.0  50.00  50.0
Cuba                         25.0  42.440000  12.453514  14.0  40.00  40.0
Dominican-Republic            2.0  47.000000   9.899495  40.0  43.50  47.0
Ecuador                       4.0  48.750000   2.500000  45.0  48.75  50.0
El-Salvador                   9.0  45.000000   7.071068  35.0  40.00  45.0
England                      30.0  44.533333  11.072592  20.0  40.00  40.0
France                       12.0  50.750000  16.360290  40.0  40.00  47.5
Germany                      44.0  44.977273  11.944618   8.0  40.00  45.0
Greece                        8.0  50.625000  11.783008  35.0  40.00  50.0
Guatemala                     3.0  36.666667   5.773503  30.0  35.00  40.0
Haiti                         4.0  42.750000   9.142392  35.0  38.75  40.0
Honduras                      1.0  60.000000        NaN  60.0  60.00  60.0
Hong                          6.0  45.000000  10.000000  40.0  40.00  40.0
Hungary                       3.0  50.000000  10.000000  40.0  45.00  50.0
India                        40.0  46.475000  10.056220  20.0  40.00  41.5
Iran                         18.0  47.500000  10.325582  30.0  40.00  45.0
Ireland                       5.0  48.000000  10.954451  40.0  40.00  40.0
Italy                        25.0  45.400000   9.495613  20.0  40.00  40.0
Jamaica                      10.0  41.100000   4.954235  35.0  38.50  40.0
Japan                        24.0  47.958333  16.120414  21.0  40.00  42.5
Laos                          2.0  40.000000   0.000000  40.0  40.00  40.0
Mexico                       33.0  46.575758  10.917390  30.0  40.00  40.0
Nicaragua                     2.0  37.500000   3.535534  35.0  36.25  37.5
Peru                          2.0  40.000000   0.000000  40.0  40.00  40.0
Philippines                  61.0  43.032787   8.445842  35.0  40.00  40.0
Poland                       12.0  39.000000   9.779385  10.0  40.00  40.0
Portugal                      4.0  41.500000   5.972158  36.0  39.00  40.0
Puerto-Rico                  12.0  39.416667  11.057357   8.0  40.00  40.0
Scotland                      3.0  46.666667  11.547005  40.0  40.00  40.0
South                        16.0  51.437500  10.942082  35.0  40.00  50.0
Taiwan                       20.0  46.800000  13.485275  27.0  40.00  40.0
Thailand                      3.0  58.333333  14.433757  50.0  50.00  50.0
Trinadad&Tobago               2.0  40.000000   0.000000  40.0  40.00  40.0
United-States              7171.0  45.505369  11.025092   1.0  40.00  40.0
Vietnam                       5.0  39.200000   1.788854  36.0  40.00  40.0
Yugoslavia                    6.0  49.500000  11.202678  40.0  40.00  46.0


                      75%   max
native-country
?                   50.00  80.0
Cambodia            40.00  40.0
Canada              51.00  72.0
China               41.25  60.0
Columbia            50.00  50.0
Cuba                50.00  60.0
Dominican-Republic  50.50  54.0
Ecuador             50.00  50.0
El-Salvador         50.00  55.0
England             50.00  85.0
France              50.00  99.0
Germany             50.00  70.0
Greece              61.25  65.0
Guatemala           40.00  40.0
Haiti               44.00  56.0
Honduras            60.00  60.0
Hong                43.75  65.0
Hungary             55.00  60.0
India               50.00  72.0
Iran                53.75  70.0
Ireland             60.00  60.0
Italy               50.00  67.0
Jamaica             40.00  50.0
Japan               50.00  99.0
Laos                40.00  40.0
Mexico              50.00  80.0
Nicaragua           38.75  40.0
Peru                40.00  40.0
Philippines         40.00  80.0
Poland              40.00  50.0
Portugal            42.50  50.0
Puerto-Rico         42.50  50.0
Scotland            50.00  60.0
South               60.00  70.0
Taiwan              55.00  84.0
Thailand            62.50  75.0
Trinadad&Tobago     40.00  40.0
United-States       50.00  99.0
Vietnam             40.00  40.0
Yugoslavia          58.00  65.0

In [64]:
data[['native-country','hours-per-week']]

      native-country  hours-per-week
0      United-States              40
1      United-States              13
2      United-States              40
3      United-States              40
4               Cuba              40
...              ...             ...
32556  United-States              38
32557  United-States              40
32558  United-States              40
32559  United-States              20
32560  United-States              40

[32561 rows x 2 columns]

In [69]:
float((data['native-country'] == 'Germany').sum()) / data.shape[0]*100

0.42074874850281013

In [72]:
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [73]:
max_load = data['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(data[(data['hours-per-week'] == max_load)
                 & (data['salary'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

In [74]:
for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

? <=50K 40.16
? >50K 45.55
Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5